header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1,
h2 {
  padding: 20px 0;
}

.searchbar {
  display: flex;
}

#search {
  padding: 10px;
}

.btn {
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  &__title {
    text-align: center;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: space-around;
  }
  &__box {
    width: 24%;
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    & img {
      max-width: 100%;
    }
  }
}