html,
#search,
.btn {
  background: $main_color;
  color: lighten($main-color, 30%);
}

#search {
  border: 1px solid lighten($main-color, 30%);
  outline: none;
}

.btn {
  border: 1px solid lighten($main-color, 30%);
  cursor: pointer;
  outline: none;
}

.main {
  &__title {
    text-transform: uppercase;
  }
  &__box {
    &:nth-child(3n + 1) {
      border: 1px solid #0cf;
    }
    &:nth-child(3n + 2) {
      border: 1px solid #f66;
    }
    &:nth-child(3n + 3) {
      border: 1px solid #fff35c;
    }
    &__title {
      margin-bottom: 20px;
    }
  }
}